<!doctype html>
<html>

<head>
  <meta charset="gb2312">
  <title>无力吐槽的银酱</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="public/css/base.css" rel="stylesheet">
  <link href="public/css/index.css" rel="stylesheet">
  <link href="public/css/layui.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type="text/javascript" src="public/js/jquery.min.js"></script>
  <script type="text/javascript" src="public/js/sliders.js"></script>
  <script type="text/javascript" src="public/js/layui.all.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  <% include ./public/head %>
  <input id="page" type="hidden" value="0">
  <div class="container">
      <div class="row">
          <div class="col-xs-8">
              <div class="l_box f_l">
                  <% include ./banner %>
                    <!-- banner代码 结束 -->
                  <div id="articleList" class="topnews">
                    <h2>
                      <span>
                        <a href="/">栏目标题</a>
                        <a href="/">栏目标题</a>
                        <a href="/">栏目标题</a>
                      </span>
                      <b>文章</b>推荐</h2>
                  </div>
                  <div>
                      <a href="javascript:void(0)" class="btn btn-link btn-xs" id="previous">上一页</a>
                      <a href="javascript:void(0)" class="btn btn-link btn-xs" id="next">下一页</a>
                  </div>
              </div>
          </div>
          <div class="col-xs-4" style="padding-left:80px;">
              <% include ./public/right %>
          </div>
      </div>
  </div>
  <footer>
    <p class="ft-copyright"><a href="http://www.miitbeian.gov.cn/">ICP证：鄂ICP备18003581号</a></p>
    <div id="tbox">
      <a id="togbook" href="/"></a>
      <a id="gotop" href="javascript:void(0)"></a>
    </div>
  </footer>
</body>
<script>
  $(function(){
    articlePage($("#page").val(),10);

    $("#previous").click(function(){
      $(".blogs").remove();
      var page = $("#page").val();
      articlePage(page-1,10);
      $("#page").val(page-1);
    });
    
    $("#next").click(function(){
      $(".blogs").remove();
      var page = $("#page").val();
      articlePage(page+1,10);
      $("#page").val(page+1);
    });
  });

  function articlePage(page, pagesize) {
    if(page < 0){
      return;
    }else if(page == 0){
      $("#previous").addClass("disabled");
    }else if(page > 0){
      $("#previous").removeClass("disabled");
    }
    $.post('/findArticlePage',{query:{},page:page,pagesize:pagesize},function(data){
      var articles = data.articles;
      var count = data.count;
      console.log(count);
      var pageCount = (count/pagesize).toFixed(0);
      if(count % pagesize == 0){
        pageCount--;
      }
      if(page < pageCount){
        $("#next").removeClass("disabled");
      }else{
        $("#next").addClass("disabled");
      }
      for(var i=0 ; i< articles.length; i++){
        appendArticle(articles[i]);
      }
    });
  }

  function appendArticle(articles) {
    var images = ['01','02','03','04','05','06'];
    $("#articleList").append(
        "<div class='blogs'>"+
        "<figure>"+
        "<img src='public/images/"+images[Math.floor(Math.random()*6)]+".jpg'>"+
        "</figure>"+
        "<ul>"+
            "<h3>"+
            "<a href='./showArticle?id="+articles._id+"'>"+articles.title+"</a>"+
            "</h3>"+
            "<p>"+articles.content+"</p>"+
            "<p class='autor'>"+
            "<span class='lm f_l'>"+
                "<a href='/'>个人博客</a>"+
            "</span>"+
            "<span class='dtime f_l'>"+articles.createTime.substring(0,10)+"</span>"+
            "<span class='viewnum f_r'>浏览（"+
        "<a href='/'>459</a>）</span>"+
            "<span class='pingl f_r'>评论（"+
        "<a href='/'>30</a>）</span>"+
            "</p>"+
        "</ul>"+
        "</div > "
    );
  }
</script>
</html>